{% extends 'index.html' %}

{% block content %}
<div>
    <h1>Todo Web App</h1>
    <p>This app was built with tech stack such as: Django, HTML, Bootstrap, and PostgresSQL. In the course of development, 
        I explored the object relational mapper (ORM), and django form, using a function based view with CRUD operations.<br>
        The storage framework used are sqlite and PostgresSQL during development.
    </p>
    <p>This is one of my hands-on experience with Django, CRUD operations, database development and Web hosting.</p>
</div>
{% endblock %}